.container-navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
}

.container-logo{
    font-size: 3rem;
    line-height: 1;
    margin-left: 0.5rem;
}

